<div class="auth-forms">

  <h2>Register</h2>
  <form name="materialForm" novalidate="">
  		<p ng-show="error" class="text-danger">{{ error }}</p>
        <paper-input label="First Name" type="text" model-ref="user.firstname" required=""></paper-input>
        <paper-input label="Last Name" type="text" model-ref="user.lastname" required=""></paper-input>
        <paper-input label="Email" type="email" model-ref="user.email"></paper-input>
        <paper-input label="Password" type="password" model-ref="user.password" required=""></paper-input>
    	<input type="submit" value="Register" ng-click="register()" class="btn btn-primary" /> 
  </form>

</div>